.panel {
  font-size: 12px;
  background: #1c6ca0;
  height: 100%;
  overflow:scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
.list-wrapper {
  display: inline-block;
  width: 12.5%;
  padding-right: 5px;
  padding-left: 5px;
  .list-header {
    border-radius: 5px;
    margin: 10px;
    background: #aaaba7;
    text-align: center;
    height: 3rem;
  }
  .list-body {
    border-radius: 5px;
    background: #aaaba7;
    height: 80%;
    margin: 10px;
    overflow-y: scroll;
    button {
      background: #efeeeb;
    }
  }
  .list-footer {
    margin: 10px;
    background: #aaaba7;
    text-align: center;
  }
}
.card {
  display: block;
  background: #efeeeb;
  margin: 10px;
  padding: 5px;
  max-height: 200px;
  border-radius: 5px;
}